@charset "UTF-8";
@font-face {
    font-family: 'Bubble Gum';
    src: url(../_fonts/bubblegum-sans-regular.otf)
};
@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web&display=swap');

/* border box */

html {box-sizing: border-box}

*, *::before, *::after {box-sizing: inherit}

/* body */

body {
    font-family: 'Roboto', sans-serif;

    margin: 0;

    display: flex;
    flex-direction: column;

    background-color: whitesmoke;
}

p {
    text-indent: 25px;
    text-align: justify;
}

a {
    text-decoration: none;

    color: black;

    transition: inherit;
}

a:hover {
    color: white;
    text-decoration: underline;
}

/* div#interface */

div#interface {
    width: 75%;
    background-color: white;
    margin: auto auto auto;
    padding: 0 10px;
    box-shadow: 0px 0px 10px gray;
}

/* header#cabecalho */

header#cabecalho {
    border-bottom: #606060 solid 1px;

    height: 150px;

    background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 95px;
}

header#cabecalho h1 {
    color: gray;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 0;

    font-family: 'Bubble Gum', sans-serif;
}

header#cabecalho h2 {
    color: rgba(128, 128, 128, 0.781);
    margin-top: 0;

    font-family: 'Titillium Web', serif;
}

header#cabecalho img {
    position: absolute;
    top: 90px;
    right: 100px;
}

/* header#cabecalho nav */

nav h1 {
    display: none;
}

nav ul {
    position: absolute;
    top: 0;
    right: 200px;
}

nav ul li {
    display: inline-block;
    padding: 5px;

    list-style: none;
    text-transform: uppercase;

    background-color: rgba(128, 128, 128, 0.575);

    transition: background 500ms;
}

nav ul li:hover {
    background-color: gray;
}

/* section */

section {
    display: block;
    width: 60%;
    float: left;
    padding-right: 15px;
    border-right: #606060 1px solid;
}

section h2 {
    background: rgb(185, 180, 180);
    padding: 5px 20px;
    color: #606060;
}

/* section header */

section header hgroup * {
    margin-bottom: 0;
}

section header h1 {
    color: gray;
    font-family: 'Bubble Gum', sans-serif;
}

section header h2 {
    color: #2b2b2b;
    background: none;
    font-size: 15px;
}

section header h3 {
    color: #6d6c6c;
    background: none;
    font-size: 15px;
}

section header h2 + h3 {
    text-align: right;
}

/* section figure */

figure.foto-legenda {
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;

    position: relative;

    background-color: rgba(11, 11, 37, 0.575);
}

figure.foto-legenda img {
    max-width: 100%;
}

figure.foto-legenda img:hover {
    opacity: 0;
}

figure.foto-legenda figcaption {
    position: absolute;

    top: 0;

    opacity: 0;

    background-color: rgba(0, 0, 0, 0.863);
    color: white;

    text-align: center; 

    width: 100%;
    height: 100%;

    transition: all 500ms;
}

figure.foto-legenda figcaption p {
    text-align: center;
}

figure.foto-legenda figcaption:hover {
    opacity: 1;
}

/* section table */

section table {
    border: 1px solid #606060;
    margin: auto auto;
    border-collapse: collapse;
}

section table td, section table th {
    border: 1px solid #606060;
    padding: 5px 10px;
}

section table th {
    text-align: right;
    color: white;
    background: #606060;
}

/* aside */

aside {
    display: block;
    width: 30%;
    float: right;
    margin: 15px 15px 0 0;
    background: rgb(208, 208, 209);
    padding: 0 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.329);
}

aside h1 {
    color: gray;
    font-family: 'Bubble Gum', sans-serif;
}

aside h2 {
    background: rgb(185, 180, 180);
    padding: 5px 20px;
    color: #606060;
}

/* footer */

footer {
    border-top: #606060 solid 1px;
    padding-top: 15px;
    clear: both;
    text-align: center;
}

footer ul {
    list-style: none;
}

footer * {
    display: inline;
}

/* inline */

span {
    font-size: 10px; 
    float: right;
    margin-top: 9px;
}